
a:hover {
	color: #45A29E;
	text-decoration: none;
}

a {
	color: #1F2833;

}

h1 {
	font-family: 'Oswald';
	padding-left: 40px;
	padding-top: 10px;
	padding-right: 40px;
	text-align: center;
}

h1 a {
	font-size: 50px;
	color: black;
	text-decoration: none;
}

h3 {
	text-align: center;
	font-family: 'Oswald';
	padding-left: 40px;
	padding-top: 5px;
	padding-right: 40px;
	color: #1F2833;
}

p {
	text-align: center;
	font-family: 'EB Garamond';
	color: gray;
	font-family: 'Vea';
	font-size: 15px;
	margin-left: 30%;
	padding-top: 10px;
	margin-right: 30%;
}

img {
	display: block;
	margin-left:auto;
	margin-right: auto;
	width: 70%;
	padding-top: 10px;
	padding-bottom: 20px;
}

.container-fluid {
	font-family: Oswald;
}


